USE [master]
GO
/****** Object:  Database [AplDb]    Script Date: 1/6/2022 9:31:26 PM ******/
CREATE DATABASE [AplDb] ON  PRIMARY 
( NAME = N'AplDb', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\AplDb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AplDb_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\AplDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AplDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AplDb]
GO
/****** Object:  Table [dbo].[APLFileItems]    Script Date: 1/6/2022 9:31:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APLFileItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](300) NOT NULL,
	[FileSize] [nchar](50) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_APLFileItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
